@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    /* 행간 */
    color: #121212;
}

ol, ul, li {
    list-style: none;
}

a{
    text-decoration: none;
}

img {
    vertical-align: top;
}

button {
    border: 0;
    background-color: transparent;
    vertical-align: top;
    font-family: "Inter", sans-serif;
}

input {
    vertical-align: top;
    font-family: "Inter", sans-serif;
}
