@charset "uft-8";


#wrapper{
    min-width: 1448px;
    max-width: 1920px;
    margin: 0 auto;
}

#container{
    width: 1448px;
    margin: 0 auto;
}

.projact02{
    margin-left: -76px;
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
}

.projact02 img {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
      opacity: 1;
    }
}


/* 메인페이지 돌아가기 */

.back{
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    margin-top: 1830px;
    margin-left: 285px;
}

.back a {
    position: relative;
    display: inline-block;
    width: 93px;
    height: 87px;
}

.back a img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s ease-in-out;
    object-fit: cover; /* 사이즈 보정 */
}


.w{
    position: relative;
    z-index: 500;
    opacity: 1;
}

.b{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    mix-blend-mode: multiply; /* 선택 사항 */
}

.back a:hover .w {
    opacity: 0;
}

.back a:hover .b {
    opacity: 1;
}


/* 페이지 이동 */

.go{
    position: absolute;
    top: 2220px;
    left: 220px;
    z-index: 10;
    display: flex;
    gap: 200px;
}

.go img{
    width: 100%;
    height: auto;
    transition: opacity 0.4s ease-in-out;
    width: 60px;
    height: auto;
}

.go p{
    position: relative;
}

.default{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    opacity: 1;
}

.on{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
}

.go p:hover .default {
    opacity: 0;
}

.go p:hover .on {
    opacity: 1;
}