@charset "utf-8";
/* reset.css-태그 고유 스타일 없애기 */

/* 모든태그에 적용할땐 *로 적음 */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Pretendard Variable', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #121212;
}

ol,
ul,
li {
  list-style: none; /* ✅ 오타 수정 */
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

button {
  border: 0;
  vertical-align: top;
  background-color: transparent;
  font-family: 'Pretendard Variable', sans-serif; 
}

input {
  vertical-align: top;
  font-family: 'Pretendard Variable', sans-serif; 
}